<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <title>gogoTennis</title>
</head>
<body>
  <!-- title, content-->
  <div>
    <form role="form" action="/boards/new" method="post" th:object="${form}">
      <div>
        <input type="text" th:field="${form.title}" placeholder="제목을 입력해주세요.">
        <div th:errors="${form.title}"></div>
      </div>

      <div>
        <textarea th:field="${form.content}" placeholder="내용을 입력해주세요."> </textarea>
        <div th:errors="${form.content}"></div>
      </div>
      <button type="summit">게시글 등록</button>
    </form>
  </div>

</body>
</html>